.u-section-1 .u-sheet-1 {
  min-height: 327px;
}

.u-section-1 .u-social-icons-1 {
  height: 124px;
  min-height: 16px;
  width: 392px;
  min-width: 68px;
  margin: 190px auto 13px;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}